[run]
branch = True
source = vintasend

[report]
omit =
    */tests/*
    vintasend/app_settings.py
    vintasend/services/dataclasses.py

exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError